.yellow {
  background: yellow;
}
.blueBox {
  padding: 1em;
  background-color: #00B7FF;
  color: dimgray;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 15em;
  position: relative;
  top: 15em;
}
body #wyniki {
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 15em;
  position: relative;
  top: 15em;
}
body #wyniki input {
  width: 3em;
}
body #wyniki input:focus {
  background: yellow;
}
body #zawodnik {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 15em;
  position: relative;
  top: 15em;
}
body #zapisz {
  text-align: center;
  position: relative;
  top: 15em;
  padding: 1em;
}
body #zawodnicy {
  background-color: #f7f7f7;
  position: absolute;
  text-align: right;
}
body #zawodnicy #lista {
  list-style: none;
  padding: 2em;
}
body #output {
  color: red;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
  width: fit-content;
  padding: 1em;
  background-color: #f7f7f7;
  font-weight: bold;
}
