body {
  padding: 50px;
  font-family: Consolas, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: azure;
}
body a {
  color: #00B7FF;
}
body div#inputs {
  display: flex;
}
body div#inputs input {
  width: 2em;
}
body div#moveHistory p {
  display: none;
}
