<h2 class="page-header text-center">Welcome to uBuy!</h2>
<p class="text-center">Please log-in or register if you want to get access to the full site.</p>
<p class="text-center">Or you can just look at auctions without loggin in :)</p>