<h2 class="page-header text-center">Messages</h2>
<div>
    <table id="table" class="table">
        <td>
            <ul id="userRow">
            </ul>
            <button id="newMessage" type="submit" class="btn btn-default">New message</button>
        </td>
        <td>
            <ul id="messagesRow">
            </ul>
            <input id="messageField" type ="text" value="" placeholder="Type message...">
            <button id="sendMessage" type="submit" class="btn btn-default">Send</button>
        </td>
    </table>
</div>